flows4.json
[
    {
        "id": "30beef248b04b359",
        "type": "tab",
        "label": "Flow4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a88cba91f4e81ef",
        "type": "mqtt in",
        "z": "30beef248b04b359",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "113b59d24fd2d2a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "780e0fbd8c9ce06d"
            ]
        ]
    },
    {
        "id": "780e0fbd8c9ce06d",
        "type": "json",
        "z": "30beef248b04b359",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "647d6137bdc11fb1",
                "3a5675e9f19a5517"
            ]
        ]
    },
    {
        "id": "647d6137bdc11fb1",
        "type": "function",
        "z": "30beef248b04b359",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 160,
        "wires": [
            [
                "9a5742c8b9aacc47",
                "dcaeb80149c4f77f"
            ]
        ]
    },
    {
        "id": "9a5742c8b9aacc47",
        "type": "ui_gauge",
        "z": "30beef248b04b359",
        "name": "",
        "group": "a36daf86aa8b130a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "983795f6819025fb",
        "type": "ui_gauge",
        "z": "30beef248b04b359",
        "name": "",
        "group": "3a3cac2a09fa5f20",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": "2",
        "max": "40",
        "colors": [
            "#3465a4",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "3a5675e9f19a5517",
        "type": "function",
        "z": "30beef248b04b359",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temperatura;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "983795f6819025fb",
                "dcaeb80149c4f77f"
            ]
        ]
    },
    {
        "id": "dcaeb80149c4f77f",
        "type": "ui_chart",
        "z": "30beef248b04b359",
        "name": "",
        "group": "a05008b324f13deb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historial",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c844a9bb097285a6",
        "type": "comment",
        "z": "30beef248b04b359",
        "name": "",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "113b59d24fd2d2a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a36daf86aa8b130a",
        "type": "ui_group",
        "name": "Humedad ",
        "tab": "bf82f03044effef7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a3cac2a09fa5f20",
        "type": "ui_group",
        "name": "Temp",
        "tab": "bf82f03044effef7",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a05008b324f13deb",
        "type": "ui_group",
        "name": "Historico",
        "tab": "bf82f03044effef7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bf82f03044effef7",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]